<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">	    
	<arg name="world_name" value="$(find gazebo_files)/worlds/myworld.world"/>	    
	<arg name="gui" value="true"/>	  
	<arg name="paused" value="true"/>
  </include>	

  <arg name="x1" default="0"/>
  <arg name="y1" default="0"/>

  <param name="robot_description" 
	 command="$(find xacro)/xacro --inorder $(find gazebo_files)/urdf/myrobot_descr.xacro" />


  
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
          args="-urdf -model myrobot -param robot_description -x $(arg x1) -y $(arg y1) -z 0.05"/>
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />     

 
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gazebo_files)/rviz_parameters/urdf_mine.rviz" />


</launch>
